.footer-main {
  background-color: black;
  position: relative;
  width: 80%;
  padding-bottom: 1px;
}

.footer-logo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-logo img {
  width: 40px;
  height: auto;
}


.footer-navigation ul {
  list-style: none;
  padding: 10px;
  text-align: center;
}

.footer-navigation ul li {
  display: inline;
  margin: 0 10px;
}


.footer-contact {
  text-align: center;
}


.footer-social ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-social ul li {
  display: inline;
  margin: 0 12px;
}


a:hover {
  color: #007bff;
}